<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>artistic</string>
		<key>imageName</key>
		<string>icon-artistic</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>unique</string>
		<key>imageName</key>
		<string>icon-unique</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>stylish</string>
		<key>imageName</key>
		<string>icon-stylish</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>different</string>
		<key>imageName</key>
		<string>icon-different</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>special</string>
		<key>imageName</key>
		<string>icon-special</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>elegant</string>
		<key>imageName</key>
		<string>icon-elegant</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>relaxing</string>
		<key>imageName</key>
		<string>icon-relaxing</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>comfy</string>
		<key>imageName</key>
		<string>icon-comfy</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>classic</string>
		<key>imageName</key>
		<string>icon-classic</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>classy</string>
		<key>imageName</key>
		<string>icon-classy</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>dashing</string>
		<key>imageName</key>
		<string>icon-dashing</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>unusual</string>
		<key>imageName</key>
		<string>icon-unusual</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>creative</string>
		<key>imageName</key>
		<string>icon-creative</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>cosy</string>
		<key>imageName</key>
		<string>icon-cosy</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>surprising</string>
		<key>imageName</key>
		<string>icon-surprising</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>nostalgic</string>
		<key>imageName</key>
		<string>icon-nostalgic</string>
	</dict>
</array>
</plist>
