<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>artistic</string>
		<key>imageName</key>
		<string>PaintingIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>unique</string>
		<key>imageName</key>
		<string>BuffetIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>stylish</string>
		<key>imageName</key>
		<string>ShoeIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>different</string>
		<key>imageName</key>
		<string>BagIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>special</string>
		<key>imageName</key>
		<string>RingIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>elegant</string>
		<key>imageName</key>
		<string>DressIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>relaxing</string>
		<key>imageName</key>
		<string>TeaIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>comfy</string>
		<key>imageName</key>
		<string>ArmchairIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>classic</string>
		<key>imageName</key>
		<string>LampIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>classy</string>
		<key>imageName</key>
		<string>WatchIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>dashing</string>
		<key>imageName</key>
		<string>BowtieIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>unusual</string>
		<key>imageName</key>
		<string>GlassesIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>creative</string>
		<key>imageName</key>
		<string>KnittingIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>cosy</string>
		<key>imageName</key>
		<string>CoatIcon</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>surprising</string>
		<key>imageName</key>
		<string>GiftIcon</string>
	</dict>
</array>
</plist>
